.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.navbar{
    background: rgba(52, 58, 64, 0.6);
}
.navbar-nav{
    margin:0 auto;
}